<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="iprintable" class="kz.kbtu.basicws.model.ColorPrinter"/>
    <bean id="printer" class="kz.kbtu.basicws.model.Printer">
        <property name="printable" ref = "iprintable"/>
    </bean>
</beans>